* {
	box-sizing: border-box;
}

body {
	background-color: #22005b;
	color: #fff;
}

.title {
	color: #00d1b2;
}

.title.is-1 {
	margin-bottom: 3rem;
}

.figure-container {
	fill: transparent;
	stroke: #fff;
	stroke-width: 3;
	stroke-linecap: round;
}

.game-container {
	position: relative;
	padding: 50px;
    margin: auto auto 60px;
}

.subtitle {
	color: #fff;  
}

.body-part {
	display: none;
}

.wrong-letters {
	letter-spacing: 3px;
}

.word {
	display: flex;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

/* In the word to be guessed*/
.letter {
	border-bottom: 3px solid #F25C05;
	display: inline-flex;
	font-size: 30px;
	align-items: center;
	justify-content: center;
	margin: 0 3px;
	height: 50px;
    width: 20px;
}

.popup-container {
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.popup {
	background-color: #c2f5ed;
	color: #00947e;
	border-radius: 5px;
	padding: 2em 5em;
}

.button.is-primary {
	background-color: #F25C05;
	font-weight: 500;
    padding: 25px 40px;
	margin: 3em;
}

.button.is-primary:focus {
	background-color: #aa3f01;

}

.wrong-letters-container {
	display: none;
}

.wrong-letters {
	padding: 0 5px;
	letter-spacing: 3px;
}

.notification-container {
	display: none;
}

.show {
	display: inline-flex;
}