body {
    background-color: #22005b;
    color: #fff;
}

.figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-width: 3;
    stroke-linecap: round;
}

.subtitle {
    color: #fff;  
}

.body-part {
    display: none;
}